<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="contrato.com">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.administrador.Administrador" />
        <activity android:name=".activities.prestador.EditPSolicitacoes" />
        <activity
            android:name=".activities.prestador.TSolicitacoesAbertas"
            android:label="@string/title_activity_tsolicitacoesabertas" />
        <activity android:name=".activities.cliente.EditCSolicitacoes" />
        <activity android:name=".activities.cliente.AddCSolicitacoes" />
        <activity
            android:name=".activities.cliente.TMinhasSolicitacoes"
            android:label="@string/title_activity_tminhas_solicitacoes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Login"
            android:label="@string/title_activity_login" />
        <activity android:name=".activities.prestador.PainelPrestador" />
        <activity android:name=".activities.cliente.PainelCliente" />
        <activity android:name=".activities.administrador.EditOrdemServico" />
        <activity
            android:name=".activities.administrador.TOrdemServico"
            android:label="@string/title_activity_tordemservico" />
        <activity android:name=".activities.administrador.EditSolicitacao" />
        <activity
            android:name=".activities.administrador.TOrdemPagamento"
            android:label="@string/title_activity_tordempagamento" />
        <activity android:name=".activities.administrador.EditOrdemPagamento" />
        <activity
            android:name=".activities.administrador.TSolicitacao"
            android:label="@string/title_activity_tsolicitacao" />
        <activity android:name=".activities.administrador.EditTipoPrestador" />
        <activity android:name=".activities.administrador.AddTipoPrestador" />
        <activity android:name=".activities.prestador.CadastroPrestador" />
        <activity
            android:name=".activities.cliente.CadastroCliente"
            android:label="@string/title_activity_cadastro_cliente" />
        <activity
            android:name=".activities.administrador.TTipoPrestador"
            android:label="@string/title_activity_ttipo_prestador"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.Cadastro" />
    </application>

</manifest>